body {
  text-align: center;
}

.mainContainer {
  height: auto;
  width: auto;
  margin: 1em 10em 1em 10em;
  border: 2px solid black;
}

.header{
  border-bottom: 2px solid black;
}

.taskForm {
  border-bottom: 2px solid black;
}

.taskEl {
  background-color: rgb(172, 171, 171);
  margin: 1em 1em 1em 1em;
  padding: 1em 1em 1em 1em;
  border-radius: 12px;
}

.remind {
  border-left: 4px solid green;
}