body {
  text-align: center;
}

.mainContainer {
  height: 600px;
  width: auto;
  margin: 1em 10em 1em 10em;
  border: 1px solid black;
}

.taskEl {
  background-color: grey;
  margin: 1em 1em 1em 1em;
  padding: 1em 1em 1em 1em;
}

.remind {
  border-left: 4px solid green;
}